<!-- <app-header></app-header>
<div [appCustom]="{ color: 'black', textAlign: 'left' }">Custom Directive</div>
<div [appCustom]="{ color: 'red', textAlign: 'right' }">
  {{ "Custom Directive" | uppercase }}
</div>
<div [appCustom]="{ color: 'blue', textAlign: 'center' }">
  {{ 5000 | currency : "USD" }}
</div>
<div [appCustom]="{ color: 'purple', textAlign: 'left' }">
  {{ 'salma' | uppercase | custom: '*'}}
</div>
<router-outlet></router-outlet> -->

<app-header></app-header>
<router-outlet></router-outlet>
